<button mat-raised-button color="primary" class="my-3" (click)="openCardToCreate()">NOVA TURMA</button>
<table id="turma-table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let turma"> {{ turma.id }} </td>
    </ng-container>

    <ng-container matColumnDef="nomeDoProfessor">
      <th mat-header-cell *matHeaderCellDef> Nome do Professor </th>
      <td mat-cell *matCellDef="let turma"> {{ turma.nomeDoProfessor }} </td>
    </ng-container>

    <ng-container matColumnDef="serie">
      <th mat-header-cell *matHeaderCellDef> Série </th>
      <td mat-cell *matCellDef="let turma"> {{ turma.serie }} </td>
    </ng-container>
  
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let turma"> {{ turma.titulo }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="element-mat-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></tr>
 </table>
 <app-turma-detail #card *ngIf="enableTurmaCard" [turma]="turmaToViewOrUpdate" (emitter)="loadTurmas($event)" ></app-turma-detail>

